<div class="tx-list container" data-ng-hide="!tx">
  <div class="summary-table table-responsive" style="margin-top:20px">
  <table class="table" style="table-layout:fixed;">
    <tbody>
    <tr>
      <td class="key" style="border-top:unset">
        <strong translate>Transaction ID :</strong>
      </td>
      <td class="value text-right ellipsis" style="border-top:unset">
        <a href="tx/{{tx.txid}}">{{tx.txid}}</a>
      </td>
    </tr>
    <tr data-ng-if="!tx.from_contract">
      <td class="key">
        <strong translate>From Address :</strong>
      </td>
      <td class="value text-right ellipsis">
        <span><a href="address/{{ tx.contract_address }}">{{ tx.contract_address }}</a></span>
      </td>
    </tr>
    <tr data-ng-if="tx.from_contract">
      <td class="key">
        <strong translate>From Contract Address :</strong>
      </td>
      <td class="value text-right ellipsis">
        <span><a href="contract/{{ tx.contract_address }}">{{ tx.contract_address }}</a></span>
      </td>
    </tr>
    <tr data-ng-if="!tx.to_contract">
      <td class="key">
        <strong translate>To Address :</strong>
      </td>
      <td class="value text-right ellipsis">
        <span><a href="address/{{ tx.to_address }}">{{ tx.to_address }}</a></span>
      </td>
    </tr>
    <tr data-ng-if="tx.to_contract">
      <td class="key">
        <strong translate>To Contract Address :</strong>
      </td>
      <td class="value text-right ellipsis">
        <span><a href="contract/{{ tx.to_address }}">{{ tx.to_address }}</a></span>
      </td>
    </tr>
    <tr>
      <td class="key">
        <strong translate>Value :</strong>
      </td>
      <td class="value text-right">
        <span>{{ tx.value }} NEW</span>
      </td>
    </tr>
    <tr>
<!--      <div data-ng-show="tx.blocktime && !tx.firstSeenTs">-->
      <td class="key">
        <strong translate>Transaction Time :</strong>
      </td>
      <td class="value text-right">
        <time>{{tx.time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</time>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
