<div class="alert alert-warning container" data-ng-show="!txs[0].txid && !loading" translate>There are no internal transactions.</div>
<div class="block-tx" data-ng-show="txs[0].internal_info" data-ng-repeat="tx in txs[0].internal_info">
  <div data-ng-include src="'views/transaction/internal-transaction.html'"></div>
</div>
<div class="progress progress-striped active container loading-block" data-ng-show="loading">
  <div class="progress-bar progress-bar-info" style="width: 100%">
    <span translate>Loading Transactions...</span>
  </div>
</div>
