<div class="transcation-cell" data-ng-hide="!tx">
  <div class="summary-table table-responsive">
  <table class="table">
    <tbody>
    <tr>
      <td class="key" style="border-top:unset">
        <span translate>Transaction ID</span>
      </td>
      <td class="value text-right" style="border-top:unset">
        <a class="block-hash" href="tx/{{tx.txid}}">{{tx.txid}}</a>
      </td>
    </tr>
    <tr>
      <td class="key">
        <span>From Address :</span>
      </td>
      <td class="value text-right">
        <span><a href="address/{{ tx.from_addr }}">{{ tx.from_addr }}</a></span>
      </td>
    </tr>
    <tr>
      <td class="key">
        <span>To Address :</span>
      </td>
      <td class="value text-right">
        <span><a href="address/{{ tx.to_addr }}">{{ tx.to_addr }}</a></span>
      </td>
    </tr>
    <tr>
      <td class="key">
        <span>Value :</span>
      </td>
      <td class="value text-right">
        <span>{{ tx.value / 1000000000000000000 }} New</span>
      </td>
    </tr>
    <tr>
      <div data-ng-show="tx.blocktime && !tx.firstSeenTs">
      <td class="key">
        <span translate>transaction time:</span>
      </td>
      <td class="value text-right">
        <time>{{tx.time * 1000 | date:'medium'}}</time>
      </td>
    </div>
    </tr>
    <tr>
      <div class="well well-sm ellipsis transaction-block" data-ng-if="itemsExpanded && !block.hash && tx.blockhash">
      <td class="key">
        <strong translate>Included in Block</strong>
      </td>
      <td class="value text-right">
          <a class="text-muted" href="block/{{tx.blockhash}}">{{tx.blockhash}}</a>
          <span class="btn-copy" clip-copy="tx.blockhash"></span>
      </td>
      </div>
    </tr>
    <tr>
      <td class="key">
        <span translate>Fee</span>
      </td>
      <td class="value text-right">
        <span data-ng-show="!tx.isCoinBase &&  !isNaN(parseFloat(tx.fees))">{{$root.currency.getConvertion(tx.fees) || tx.fees * 1000000000000000000 + 'Wei'}} </span>
      </td>
    </tr>
    <tr>
      <td class="key">
        <span translate>Confirmations</span>
      </td>
      <td class="value text-right">
        <span data-ng-show="tx.confirmations">{{tx.confirmations}} </span>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
