<div class="tx-list container" data-ng-hide="!tx">
  <div class="summary-table" style="margin-top:20px">
  <table class="table" style="table-layout:fixed;">
    <tbody>
    <tr>
      <td class="key" style="border-top:unset">
        <strong translate>Transaction ID</strong>
      </td>
      <td class="value text-right ellipsis" style="border-top:unset">
        <a href="tx/{{tx.txid}}">{{tx.txid}}</a>
      </td>
    </tr>
    <tr data-ng-if="!tx.from_contract">
      <td class="key">
        <strong translate>From Address :</strong>
      </td>
      <td class="value text-right ellipsis">
        <span><a href="address/{{ tx.from_addr }}">{{ tx.from_addr }}</a></span>
      </td>
    </tr>
    <tr data-ng-if="tx.from_contract">
      <td class="key">
        <strong translate>From Contract Address :</strong>
      </td>
      <td class="value text-right ellipsis">
        <span><a href="contract/{{ tx.from_addr }}">{{ tx.from_addr }}</a></span>
      </td>
    </tr>
    <tr data-ng-if="!tx.to_contract">
      <td class="key">
        <strong translate>To Address :</strong>
      </td>
      <td class="value text-right ellipsis">
        <span><a href="address/{{ tx.to_addr }}">{{ tx.to_addr }}</a></span>
      </td>
    </tr>
    <tr data-ng-if="tx.to_contract">
      <td class="key">
        <strong translate>To Contract Address :</strong>
      </td>
      <td class="value text-right ellipsis">
        <span><a href="contract/{{ tx.to_addr }}">{{ tx.to_addr }}</a></span>
      </td>
    </tr>
    <tr>
      <td class="key">
        <strong translate>Value :</strong>
      </td>
      <td class="value text-right">
        <span>{{ tx.value / 1000000000000000000 }} NEW</span>
      </td>
    </tr>
    <tr>
      <div data-ng-show="tx.blocktime && !tx.firstSeenTs">
      <td class="key">
        <strong translate>Transaction Time :</strong>
      </td>
      <td class="value text-right">
        <time>{{tx.time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</time>
      </td>
    </div>
    </tr>
    <tr>
      <div class="well well-sm ellipsis transaction-block" data-ng-if="itemsExpanded && !block.hash && tx.blockhash">
      <td class="key">
        <strong translate>Included in Block</strong>
      </td>
      <td class="value text-right ellipsis">
          <a href="block/{{tx.blockhash}}">{{tx.blockhash}}</a>
          <span class="btn-copy" clip-copy="tx.blockhash"></span>
      </td>
      </div>
    </tr>
    <tr>
      <td class="key">
        <strong translate>Fee</strong>
      </td>
      <td class="value text-right">
        <span data-ng-show="!tx.isCoinBase &&  !isNaN(parseFloat(tx.fees))">{{$root.currency.getConvertion(tx.fees) || tx.fees * 1000000000000000000 + ' WEI'}} </span>
      </td>
    </tr>
    <tr>
      <td class="key">
        <strong translate>Confirmations</strong>
      </td>
      <td class="value text-right">
        <span data-ng-show="tx.confirmations">{{tx.confirmations}}</span>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
