<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('New')" data-ng-class="{active: currency.symbol == 'New'}">New</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mNew')" data-ng-class="{active: currency.symbol == 'mNew'}">mNew</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('bits')" data-ng-class="{active: currency.symbol == 'bits'}">bits</a>
  </li>
</ul>

