<div class="container">
    <div data-ng-controller="HeaderController">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle header-menu-logo" data-toggle="collapse" data-target=".navbar-collapse" ng-click="navbarCollapsed = !navbarCollapsed; $root.fsn=!$root.fsn;$root.isCollapsed = !$root.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <i class="iconfont toggle-nav"></i>
            </button>
            <a class="navbar-brand" href="/"></a>
        </div>
        <nav class="collapse navbar-collapse" collapse="$root.isCollapsed" style="overflow:unset;">
            <ul class="nav navbar-nav">
                <li data-ng-repeat="item in menu" ui-route="{{item.link}}" data-ng-class="{active: $uiRoute}">
                    <a class="color-font" href="{{item.link}}">{{item.title|translate}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="status" data-ng-controller="StatusController">
                        <div data-ng-init="getSync()" class="pull-left">
                            <span class="t text-danger"  data-ng-show="sync.error" tooltip="{{sync.error}}" tooltip-placement="bottom"> 
                                <span  class="glyphicon glyphicon-warning-sign"></span>
                                ERROR 
                            </span>
                            <span class="t" tooltip="{{sync.syncedBlocks}} / {{sync.blockChainHeight}} synced. {{sync.skippedBlocks || 0}} skipped" tooltip-placement="bottom" data-ng-show="sync.status==='syncing'"> 
                                <span  class="glyphicon glyphicon-refresh icon-rotate"></span>
                                {{sync.syncPercentage}}%
                            </span>
                            <span class="glyphicon glyphicon-ok" tooltip="Historic sync finished" tooltip-placement="bottom" data-ng-show="sync.status==='finished'"> </span>
                        </div>
                        &nbsp;
                        <span data-ng-init="getStatus('Info')">
                        </span> 
                        <strong>{{'Height'|translate}}</strong> {{totalBlocks || info.blocks}}
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
