<div class="alert alert-danger" data-ng-show="flashMessage">
    {{$root.flashMessage}}
</div>
<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-show="!flashMessage" data-ng-controller="AddressController" data-ng-init="findAccount()" class="blocks-body">
    <div class="blocks-page-upper container">
        <div class="blocks-page-header">
            <h1 class="text-center">
                <span class="blocks-title" translate>Address</span>
            </h1>
        </div>
        <div class="row  block-calendar">
            <div class="col-md-12">
                <div class="row calendar-btn">
                    <div class="text-center visible-lg visible-md">
                        <a data-ng-show="current_page > 1" class="btn btn-primary calendar-style" href="/address"><small translate>First</small></a>
                        <a data-ng-show="current_page > 1" class="btn btn-primary calendar-style" href="/address/page/{{ current_page - 1 }}"><small>&larr; <span translate>Previous</span></small></a>
                        <a data-ng-show="current_page < total_page" class="btn btn-primary calendar-style" href="/address/page/{{ current_page + 1 }}"><small><span translate>Next</span> &rarr;</small></a>
                        <a data-ng-show="current_page < total_page" class="btn btn-primary calendar-style" href="/address/page/{{ total_page }}"><small translate>End</small></a>
                        <input type="text" class="jump-input text-center" data-ng-model="q" placeholder="{{ current_page }}/{{ total_page }}" />
                        <button class="jump-btn btn btn-primary calendar-style" data-ng-click="jump()"><small translate>Jump to</small></button>
                    </div>
                    <div class="text-center visible-xs visible-sm">
                        <a data-ng-show="current_page > 1" class="btn btn-primary calendar-style" href="/address"><small translate>First</small></a>
                        <a data-ng-show="current_page > 1" class="btn btn-primary calendar-style" href="/address/page/{{ current_page - 1 }}"><small>&larr; <span translate>Previous</span></small></a>
                        <a data-ng-show="current_page < total_page" class="btn btn-primary calendar-style" href="/address/page/{{ current_page + 1 }}"><small><span translate>Next</span> &rarr;</small></a>
                        <a data-ng-show="current_page < total_page" class="btn btn-primary calendar-style" href="/address/page/{{ total_page }}"><small translate>End</small></a>
                    </div>
                    <div class="mobile-jump text-center col-sm-12 col-xs-12 visible-sm visible-xs">
                        <input type="text" class="jump-input text-center" data-ng-model="q" placeholder="{{ current_page }}/{{ total_page }}" />
                        <button class="jump-btn btn btn-primary calendar-style" data-ng-click="jump()"><small translate>Jump to</small></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="home" class="home address-info">
        <div class="brief container address-container hidden-sm hidden-xs">
            <div class="col-md-6 col-xs-6 address-row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="brief_title">
                            <span class="brief_icon"></span>
                            <span class="address-title" translate>Addresses</span>
                        </div>
                        <div class="brief_content">
                            {{ total_addresses }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-6 transaction-row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/transactions">
                            <div class="brief_title">
                                <span class="brief_icon"></span>
                                <span translate>Transactions</span>
                            </div>
                        </a>
                        <div class="brief_content">
                            {{ total_transactions }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brief container address-mobile-container visible-sm visible-xs">
            <div class="col-sm-6 col-xs-6 address-mobile-row">
                <div class="address-mobile-block">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="brief_title">
                                <span class="brief_icon"></span>
                                <span class="address-title" translate>Addresses</span>
                            </div>
                            <div class="brief_content">
                                {{ total_addresses }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xs-6 transaction-mobile-row">
                <div class="transaction-mobile-block">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="/transactions">
                                <div class="brief_title">
                                    <span class="brief_icon"></span>
                                    <span translate>Transactions</span>
                                </div>
                            </a>
                            <div class="brief_content">
                                {{ total_transactions }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blocks-page-lower container">
        <div class="address-rule" translate>*Only the first 10,000 data are displayed.</div>
        <div class="panel panel-default blocks-table">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="table-th text-center" translate>Rank</th>
                            <th class="table-th text-center" translate>Address</th>
                            <th class="table-th text-center" translate>Txn Count</th>
                            <th class="table-th text-right" translate>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="loading">
                            <td colspan="5"><span translate>Waiting for addresses...</span> <span class="loader-gif"></span></td>
                        </tr>
                        <tr class="table-cell fader hidden-xs hidden-sm" data-ng-repeat='b in accounts'>
                            <td class="table-del-border ph-table text-center">{{ b.rank }}</td>
                            <td class="table-height ph-table table-del-border text-center"><a class="ellipsis" href="/address/{{b.address}}">{{b.address}}</a></td>
                            <td class="table-time text-center ph-table table-del-border">{{b.txn_count}}</td>
                            <td class="table-time ph-table table-del-border text-right">{{b.balance}} NEW</td>
                        </tr>
                        <tr class="table-cell fader visible-xs visible-sm" data-ng-repeat='b in accounts'>
                            <td class="table-th text-center">{{ b.rank }}</td>
                            <td class="table-th text-center"><a class="ellipsis" href="/address/{{b.address}}">{{b.address}}</a></td>
                            <td class="table-th text-center">{{b.txn_count}}</td>
                            <td class="table-th text-right">{{b.balance}} NEW</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row  block-calendar">
            <div class="col-md-12">
                <div class="row calendar-btn">
                    <div class="text-center visible-lg visible-md">
                        <a data-ng-show="current_page > 1" class="btn btn-primary calendar-style" href="/address"><small translate>First</small></a>
                        <a data-ng-show="current_page > 1" class="btn btn-primary calendar-style" href="/address/page/{{ current_page - 1 }}"><small>&larr; <span translate>Previous</span></small></a>
                        <a data-ng-show="current_page < total_page" class="btn btn-primary calendar-style" href="/address/page/{{ current_page + 1 }}"><small><span translate>Next</span> &rarr;</small></a>
                        <a data-ng-show="current_page < total_page" class="btn btn-primary calendar-style" href="/address/page/{{ total_page }}"><small translate>End</small></a>
                        <input type="text" class="jump-input text-center" data-ng-model="q" placeholder="{{ current_page }}/{{ total_page }}" />
                        <button class="jump-btn btn btn-primary calendar-style" data-ng-click="jump()"><small translate>Jump to</small></button>
                    </div>
                    <div class="text-center visible-xs visible-sm">
                        <a data-ng-show="current_page > 1" class="btn btn-primary calendar-style" href="/address"><small translate>First</small></a>
                        <a data-ng-show="current_page > 1" class="btn btn-primary calendar-style" href="/address/page/{{ current_page - 1 }}"><small>&larr; <span translate>Previous</span></small></a>
                        <a data-ng-show="current_page < total_page" class="btn btn-primary calendar-style" href="/address/page/{{ current_page + 1 }}"><small><span translate>Next</span> &rarr;</small></a>
                        <a data-ng-show="current_page < total_page" class="btn btn-primary calendar-style" href="/address/page/{{ total_page }}"><small translate>End</small></a>
                    </div>
                    <div class="mobile-jump text-center col-sm-12 col-xs-12 visible-sm visible-xs">
                        <input type="text" class="jump-input text-center" data-ng-model="q" placeholder="{{ current_page }}/{{ total_page }}" />
                        <button class="jump-btn btn btn-primary calendar-style" data-ng-click="jump()"><small translate>Jump to</small></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


