<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-controller="AddressController" data-ng-init="findOne()">
  <div class="secondary_navbar hidden-xs hidden-sm" scroll data-ng-class="{'hidden': !secondaryNavbar}" data-ng-show="address.addrStr" data-ng-init="hideSNavbar=0">
    <div class="container" data-ng-if="!hideSNavbar">
      <div class="col-md-8 text-left">
          <h3 translate>Address</h3> {{address.addrStr}}
          <span class="btn-copy" clip-copy="address.addrStr"></span>
      </div>
      <div class="col-md-4">
        <span class="txvalues txvalues-primary"><strong translate>Final Balance</strong> {{$root.currency.getConvertion(address.balance) || address.balance + ' New' }}</span>
      </div>
    </div>
    <!--<div class="hide_snavbar">-->
      <!--<a href="#" data-ng-click="hideSNavbar=!hideSNavbar">-->
        <!--<span data-ng-show="hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-down"></span></span>-->
        <!--<span data-ng-show="!hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-up"></span></span>-->
      <!--</a>-->
    <!--</div>-->
  </div>

  <div data-ng-if="address.addrStr" class="container address-page-upper">
    <h1><span translate>Address</span></h1>
    <h2 class="summary-title" translate>Summary</h2>
    <div class="ellipsis">
        <div class="text-muted" data-ng-if="!address.addrStr">
          <span translate>Loading Address Information</span> <span class="loader-gif"></span>
        </div>
      <span class="btn-copy" clip-copy="address.addrStr"></span>
    </div>
    <div data-ng-hide="!address.addrStr" class="row summary-table table-responsive">
        <table class="table">
          <tbody>
          <tr>
            <td class="key"><strong translate>Address</strong></td>
            <td class="ellipsis value text-right"><span class="text-muted">{{address.addrStr}}</span></td>
          </tr>
          <tr>
            <td class="key"><strong translate>Final Balance</strong></td>
            <td class="ellipsis value text-right">{{$root.currency.getConvertion(address.balance) || address.balance + ' NEW'}}</td>
          </tr>
          <tr>
            <td class="key"><strong translate>No. Transactions</strong></td>
            <td class="ellipsis value text-right">{{address.txApperances}}</td>
          </tr>
          </tbody>
        </table>
      <!--<div class="col-md-2 text-center">-->
       <!-- <qrcode size="160" data="{{address.addrStr}}"></qrcode>-->
      <!--</div>-->
    </div>
    <div data-ng-show="address.unconfirmedTxApperances">
      <h3 translate>Unconfirmed</h3>
      <table class="table">
        <tbody>
        <tr>
          <td class="key small" translate>Unconfirmed Txs Balance</td>
          <td class="address ellipsis text-right">{{$root.currency.getConvertion(address.unconfirmedBalance)}}</td>
        </tr>
        <tr>
          <td class="key small" translate>No. Transactions</td>
          <td class="address ellipsis text-right">{{address.unconfirmedTxApperances}}</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div data-ng-if="address.addrStr" data-ng-controller="transactionsController" data-ng-init="load('address')">
    <div class="container mobile-lower-title" style="padding:unset;"><h2 translate>Transactions</h2></div>
      <div data-ng-include src="'views/transaction/list.html'" when-scrolled="loadMore()"></div>
  </div>
</section>

