<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-controller="BlocksController" data-ng-init="list()" class="blocks-body">
    <div class="blocks-page-upper container">
        <div class="blocks-page-header">
            <h1 class="text-center">
                <span class="blocks-title" translate>Blocks</span>
                <!-- <small><span translate>by date.</span> {{detail}} {{before}}</small> -->
            </h1>
        </div>
        <div class="row  block-calendar">
            <div class="col-md-12">
                <p class="lead text-center calendar-date">
                    {{pagination.currentDate}}
                    <!-- {{pagination.current}} -->
                    <a href="#" class="btn btn-primary btn-xs calendar-style phone-hidden" datepicker-popup show-button-bar="false" data-ng-click="openCalendar($event)" data-ng-model="dt" is-open="opened" data-ng-required="true"><span class="glyphicon glyphicon-calendar"></span></a>
                </p>
                <!-- <p data-ng-if="is_today" class="lead text-center calendar-date">
                    {{today_time}}
                    <a href="#" class="btn btn-primary btn-xs calendar-style phone-hidden" datepicker-popup show-button-bar="false" data-ng-click="openCalendar($event)" data-ng-model="dt" is-open="opened" data-ng-required="true"><span class="glyphicon glyphicon-calendar"></span></a>
                </p> -->
                <div class="m20v text-center text-muted" data-ng-if="!pagination.current">
                    <span translate>Loading Selected Date...</span>
                </div>
                <div data-ng-if="pagination.current">
                    <p class="lead text-center m20v"  data-ng-show="loading">&nbsp;</p>
                    <p class="text-center m20v"  data-ng-show="pagination.isToday && !loading" translate>Today</p>
                    <p class="text-center m20v"  data-ng-show="!pagination.isToday && !loading">
                        <p class="text-center m20v"  data-ng-show="loading">&nbsp;</p>
                        <div class="calendar-btn text-center">
                            <a class="btn btn-primary calendar-style" href="blocks-date/{{pagination.prevDate}}/{{timezone}}"><small>&larr; {{pagination.prevDate}}</small></a>
                            <a class="btn btn-primary calendar-style" href="blocks-date/{{pagination.nextDate}}/{{timezone}}" data-ng-show="!pagination.isToday"><small>{{pagination.nextDate}} &rarr;</small></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blocks-page-lower container">
            <div class="panel panel-default blocks-table">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th class="table-title blocks-table-header text-center" translate>Height</th>
                        <th class="table-title blocks-table-header text-center" translate>Timestamp</th>
                        <th class="table-title blocks-table-header text-center" translate>Transactions</th>
                        <th class="table-title blocks-table-header text-center" translate>Validator</th>
                        <th class="table-title blocks-table-header text-center" translate>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="loading">
                        <td colspan="5"><span translate>Waiting for blocks...</span> <span class="loader-gif"></span></td>
                    </tr>
                    <tr class="table-cell" data-ng-repeat='b in blocks'>
                        <td class="table-height ph-table table-del-border text-center"><a href="block/{{b.hash}}">{{b.height}}</a></td>
                        <td class="table-time ph-table table-del-border text-center">{{b.time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td class="table-time ph-table table-del-border text-center">{{b.txlength}}</td>
                        <!-- <td class="ph-table table-del-border"><a href="{{b.validator_url}}" title="{{b.validator_name}}" target="_blank" data-ng-show="b.validator">{{b.validator_name}}</a></td> -->
                        <td class="ph-table table-del-border text-center">{{b.validator_name}}</td>
                        <td class="table-time text-center ph-table table-del-border">{{b.size}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="change-date-btn">
                <div class="switching-blocks-btn">
                    <a data-ng-if="pagination.more" class="btn btn-primary order-blocks-btn calendar-style" href="blocks-date/{{pagination.current}}/{{timezone}}/{{pagination.moreTs}}" translate>Previous blocks from date</a>
                    <a class="btn btn-primary latest-blocks-btn calendar-style" href="blocks-date/{{pagination.current}}/{{timezone}}" data-ng-show="{{before}}" translate>Latest blocks from date</a>
                </div>
            </div>
    <h2 class="text-center text-muted" data-ng-show="!blocks.length && !loading"
        translate>No blocks yet.</h2>
    </div>
</section>


